@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



/* definindo variáveis para cores */
:root {
    --primary: #0000BF;
    --secondary: #F7F70C;
    /* tertiary não é um padrão do Bootstrap, mas pode ser adicionado! */
    --tertiary: #ffff;
    --success: #0099DD;
    --info: #A1C7E0;
    --warning: #FF9933;
    --danger: #E3371E;
    --textMenu: #1A1A2E;
    --textDefaultColor: #333333;
}

body {
    font-family: "Nunito", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-font {
    font-family: "Bebas Neue", sans-serif !important;
}

.nav-item {
    a {
        font-weight: 700 !important;
        color: var(--textMenu);

        &:hover {
            color: var(--primary) !important;
        }
    }


}

.min-h {
    min-height: 100vh;
}

.min-h-hero {
    min-height: 75vh;
}

.max-heigth {
    max-height: 700px !important;
}

.gap-extremidades {
    column-gap: 50%;
}

.fw-extrabold {
    font-weight: 900 !important;
}

.hero-logo-format {
    max-width: 15%;
    height: 40% !important;
    max-height: 220px;
    overflow: hidden;
    max-width: 220px;
}

.bg-gradiente {
    background: linear-gradient(76deg, rgba(0, 0, 191, 1) 0%, rgba(26, 0, 153, 1) 50%, rgba(0, 68, 204, 1) 100%);
}

.bg-gradiente-card {
    background: linear-gradient(76deg, rgba(0, 0, 191, 1) 0%, rgba(26, 0, 153, 1) 50%, rgba(0, 68, 204, 1) 100%);
}

.bottom-negative {
    bottom: -1px !important;
}

.position-config {
    position: absolute !important;
    /* top: 76px !important; */
    z-index: 1 !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secundary {
    background-color: var(--secondary) !important;
}

.bg-tertiary {
    background-color: var(--tertiary);
}

.border-primary-subtle {
    border-color: var(--primary) !important;

}

.border-secundary-subtle {
    border-color: var(--secondary) !important;
}

.border-tertiary-subtle {
    border-color: var(--tertiary) !important;
}

.border-6 {
    border-width: 8px !important;
}

.border-7 {
    border-width: 10px !important;
}

.border-8 {
    border-width: 12px !important;
}

.text-blue {
    color: var(--primary);
}

.text-yellow {
    color: var(--secondary);
}

.buttonActive {
    &:active {
        box-shadow: none !important;
        outline: none !important;
    }

    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}

@media (min-width: 992px) {
    .border-b-none {
        border-bottom: 0 !important;
    }

}

@media (max-width: 992px) {

    .container-fluid-responsive {
        width: 100%;
    }

    .flex-column-responsive {
        flex-direction: column !important;
    }

    .gap-responsive {
        gap: 5% 0 !important;
    }
}